{% extends 'base.html' %}
{% load i18n %}


{% block title %}{{ title }}{% endblock %}


{% block content %}
    <h1>{{ title }}</h1>

    {% if not user.pk %}
        <h4>{% trans 'Login or register to create a task list' %}</h4>
    {% endif %}

    {% if todo_list %}
    <form method="POST">
   <p>
    <input name="Done" type="submit" value="{% translate 'Done' %}" class="btn btn-success" >
    <input name="Delete" type="submit" value="{% translate 'Delete' %}" class="btn btn-danger" >
   </p>

   {% if messages %}

        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}

    {% csrf_token %}
    {% for todo in todo_list %}

            <div class="shadow-lg p-3 mb-5 text-white rounded center {% if todo.is_done %}bg-success{% else %}bg-secondary text-light{% endif %}">
                {{ todo.date_created }} - {{ todo.date_ending }}
                <h3>{{ todo }}</h3>
                {{ todo.content|linebreaks }}

                <input style="float: right;" value="{{ todo.pk }}" type="checkbox" name="checkbox_list">

{#                <a href="{% url 'todo_delete' todo.pk %}" class="btn btn-outline-danger" style="float: right;">{% translate 'Delete' %}</a>#}

            </div>
    {% endfor %}

    </form>
    {% endif %}
{% endblock %}